body {background-color: #B2D0D4;}

h1 {text-align: center; color: rgb(232, 125, 143); padding: 100px; width: 700px; font-family:
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin: 0 auto;}
    
a { color: rgb(232, 125, 143); padding: 100px; width: 200px; font-family:'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif; margin: 0 auto;}

#cloudone { float: right 50px; width: 600px; }

#bluepic {width: 200px; position: relative;}

.rio {float: right 300px }