body {background-image: url(birdsenv.jpg);}


p {color: rgb(232, 125, 143); background: #cacbc5; padding: 100px; width: 200px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}




